<ul class="cities">
  <li id="city1" 
  		class="city" 
  		data-toggle="tooltip" 
  		title="Barranquilla" 
  		data-placement="top"
  		data-html="true" 
  		data-content="<p>Exito Buenavista</p> <p>Exito 51B</p>"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city2" 
  		class="city" 
  		data-toggle="tooltip" 
  		title="Santa Marta" 
  		data-placement="right"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city3" 
  		class="city" 
  		data-toggle="tooltip" 
  		title="Cartagena" 
  		data-placement="left"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city4" 
  		class="city" 
  		data-toggle="popover" 
  		title="Valledupar" 
  		data-placement="right"
  		data-html="true"
  		data-content="And here's some amazing content. It's very engaging. Right?"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city5" 
  		class="city" 
  		data-toggle="tooltip" 
  		title="Sincelejo" 
  		data-placement="right"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city6" 
  		class="city" 
  		data-toggle="tooltip" 
  		title="Monteria" 
  		data-placement="bottom"
  		data-html="bottom"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city7" 
  		class="city" 
  		data-toggle="tooltip" 
  		title="Cucuta" 
  		data-placement="right"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city8" 
  		class="city" 
  		data-toggle="tooltip" 
  		title="Bucaramanga" 
  		data-placement="top"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city9" 
  		class="city" 
  		data-toggle="tooltip" 
  		title="Envigado" 
  		data-placement="top"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city10"
  		 class="city" 
  		data-toggle="tooltip" 
  		title="Ibague" 
  		data-placement="top"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city11"
  		 class="city" 
  		data-toggle="tooltip" 
  		title="Villavicencio" 
  		data-placement="right"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city12"
  		 class="city" 
  		data-toggle="tooltip" 
  		title="Cali" 
  		data-placement="top"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
  <li id="city13"
  		 class="city" 
  		data-toggle="tooltip" 
  		title="Neiva" 
  		data-placement="bottom"
  		data-html="true"
  		data-content="Exito Buenavista, Exito 51B"> 
  		<%= link_to(image_tag("empty-icon.png"), '#') %> 
  </li>
</ul>
