

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="hero border border-radius">
					<%= image_tag("hero-img-CH.png") %>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="hero border border-radius">
					<div class="hero-text-holder">
						<div class="hero-text">
							<h3> Coleccion H </h3>
							<p> La coleccion año
									mujer vanguardia de luz este
									2015 con judy. Las tendencias
									de moda despierta con
									Judy para ti. </p>
						</div>
					</div>
					<%= image_tag("hero-placeholder.png") %>

				</div>
			</div>
		</div>
	</div>

		<div class="container grid-image-container">
			<div class ="row border">
				<div id='container' class='border'>
					<div class="grid-image"> <%= image_tag('coleccionH-content-01.png') %> </div>
					<div class="grid-image"> <%= image_tag('coleccionH-content-04.png') %> </div>
					<div class="grid-image"> <%= image_tag('coleccionH-content-02.png') %> </div>
					<div class="grid-image"> <%= image_tag('coleccionH-content-05.png') %> </div>
					<div class="grid-image"> <%= image_tag('coleccionH-content-03.png') %> </div>
					<div class="grid-image"> <%= image_tag('coleccionH-content-06.png') %> </div>
				</div>
			</div>
		</div>




	<div class="content">
	</div>