
<ul class="dropdown-menu nav-div-menu" role="menu" aria-labelledby="dropdownMenu1">
  <li role="presentation"><%= link_to("COLECCION H", coleccionh_pages_path, method: :get ) %></li>
	<li role="presentation"><%= link_to("JUDY HAZBUN", judyhazbun_pages_path, method: :get ) %></li>
	<li role="presentation"><%= link_to("LUCES DE NEGRO", lucesdenegro_pages_path, method: :get ) %></li>
	<li role="presentation"><%= link_to("ZANZIBAR", zanzibar_pages_path, method: :get ) %></li>
	<li role="presentation"><%= link_to("BLANCO Y NEGRO", blancoynegro_pages_path, method: :get ) %></li>
	<li role="presentation"><%= link_to("PUEBLO DE MUJERES", pueblodemujeres_pages_path, method: :get ) %></li>
</ul>